<!-- Carousel
  ================================================== -->

  <div class="col-caroussel-yogis">      
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="vertical-align:middle;">
    
      <!-- Indicators -->
      <ol class="carousel-indicators" style="top:20px; height:200px">
      	<!-- en fonction du nombre de compagnie -->
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% if scene_photo_list %}
        {% for scene in scene_photo_list %}
        <!-- {% if scene.photo_gallery.photos %}   -->
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}"></li>
        <!-- {% endif %} -->
        {% endfor %}
        {% else %}<!-- cas de la page spectacle -->
        {% for photo in scene.photo_gallery.photos.all %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}"></li>
        {% endfor %}
        {% endif %}
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">  
          {% if cover %}  
          <a href=""><img src="{{ cover.0.get_display_url }}" class="thumbnail" alt="" style="width: 100%; height: 100%";></a>
          {% else %}
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Cover" >
          {% endif %}
          <div class="container">
            <div class="carousel-caption" style="top:20px;">
              <h1>Catalogue des spectacles</h1>
              <p>{{ company_list|length }} compagnies et {{ scene_list|length }} spectacles </p>
              <a class="btn btn-lg btn-default" href="{% url 'catalog:newsletter' %}" role="button" style="margin-top: 20px;">Newsletter</a>
            </div><!-- carousel-caption-->
          </div> <!-- container -->
        </div> <!-- class item active -->
        {% if scene_list %}
        {% for scene in scene_list %}
        {% if scene.photo_gallery.photos.all %}
        <div class="item">
          {% with scene.photo_gallery.photos.all|random as photo %}
          <a href="scene/{{ scene.id }}"><img src="{{ photo.get_display_url }}" class="thumbnail" alt="{{ photo.title }}" style="width: 100%; height: 100%;"></a>
          {% endwith %} 
        </div><!-- class item -->
        {% endif %}
        {% endfor %}
        {% else %}<!-- cas de la page spectacle -->
        {% for photo in scene.photo_gallery.photos.all %}
        <div class="item">
          <a href="scene/{{ scene.id }}"><img src="{{ photo.get_display_url }}" class="thumbnail" alt="{{ photo.title }}" style="width: 100%; height: 100%;"></a>
        </div><!-- class item -->       
        {% endfor %}
        {% endif %}
      </div><!-- carousel inner -->

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précedent</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div><!-- mycarousel -->
  </div><!-- END Carousel   ================================================== -->
