{% extends "./base/base.html" %}
{% block content %}

		<div class="col-xs-15 col-sm-10 col-md-4" style="position: fixed ; width : 600px">    	 	
			{% block carousel %}
			{% include "./catalogue/carousel.html" %}
			{% endblock carousel %}
      </div><!--col-->
       
      <div class="row">
    	 <div class="col-xs-15 col-sm-10 col-md-4">
    	 </div>
        <div class="col-xs-15 col-sm-10 col-md-5">

			<div class="jumbotron-yogis">
				<h1>{{ company.name }}</h1>
				{% if company.scene_set.all|length > 1 %}		
				<p>{{ company.scene_set.all|length }} spectacles</p>
				{% else %}
				<p>{{ company.scene_set.all|length }} spectacle</p>
				{% endif %}
				{% if company.resume %}
				<p>{{ company.resume }}</p>
				{% endif %}	          
         </div>  <!-- jumbotron-->
         
  			<ul  class="list-inline" class="thumbnails"> 
  			{% for scene in scene_list %}        	
			{% if scene.photo_gallery.photos.all %}			
        	<li class="col-xs-40 col-sm-20 col-md-5" style="width : 33%">
					<div class="thumbnail-yogis" style="margin-left: 20%; margin-right: 20%; margin-bottom:20px"> 
         {% with scene.photo_gallery.photos.all|random as photo %}
			<a href="{%  url 'catalog:detail_scene' scene.id %}" class="list-group-item-yogis" style="height:200px"><img class="img-circle" src="{{ photo.get_thumbnail_url  }}" class="thumbnail" alt="{{ photo.title }}" >
			<h4>{{ scene.title }}</h4></a>		      
			{% endwith %}
				</div><!-- thumbnail -->
        	{% endif %}
         {% endfor %}
  		</div><!-- col-xs-15 col-sm-10 col-md-5-->
  		
			<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar">
				<img src="{{ company.logo.get_thumbnail_url }}" class="thumbnail" alt="{{ company.logo.title }}">
				
			</div><!--col-xs-6 col-sm-3 sidebar-offcanvas-->
		</div><!--row-->
		
<!-- START THE FEATURETTES -->
<div class="row">
    	 <div class="col-xs-15 col-sm-10 col-md-4">
    	 </div>
 		<div class="col-xs-15 col-sm-10 col-md-5">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
		Ateliers proposés <span class="text-muted">en plus des spectacles</span></h2>
          <p class="lead">{% if company.workshop_describe %} {% endif %}
          {% if company.workshop_price %}<p>{{ company.workshop_price }}{% endif %}
		{% if company.workshop_term %}{{ company.workshop_term }}{% endif %}</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
		
		
		</div><!-- class="col-xs-12 col-sm-9-->
      <!-- /END THE FEATURETTES -->


			

	

{% endblock content %}


