{% extends "./base/base.html" %}

{% block content %}
<a><img src="{{ company.logo.get_thumbnail_url }}" class="thumbnail" alt="{{ company.logo.title }}"></a>

<h1>{{ company.name }}</h1>
		{% for photo in gallery.public %}
			<a href="{{ photo.get_absolute_url }}">
			     <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
			</a>
		{% empty %}
    		<p>Désolé, pas de photo disponible</p>
		{% endfor %}
	{% if company.resume %}
	<p>{{ company.resume }}</p>
	{% endif %}
	{% if company.workshop_price %}
	<p>{{ company.workshop_price }}</p>
	{% endif %}
	{% if company.workshop_term %}
	{{ company.workshop_term }}
	{% endif %}
       
	<p>Nombre de spectacle : {{ company.scene_set.all|length }}</p>

	{% for scene in company.scene_set.all %}
		
		<li><a href="{% url 'catalog:detail_scene' scene.id %}">{{ scene.title }}</a></li>
		
    	{% empty %}
    	<p>Désolé, aucun spectacle n'est disponible</p>
	{% endfor %}
<p><a href="{% url 'catalog:index' %}">retour au catalogue</a></p>

{% endblock content %}
