{% extends "./base/base.html" %}


{% block content %}
    <div class="row">
    	{% block carousel %}
		{% include "./catalogue/carousel.html" %}
		{% endblock carousel %}
		<div class="col-sidebar-cie-yogis" id="sidebar">
			<div class="jumbotron-yogis">
				<h3>Les compagnies</h3>
			</div>  <!-- jumbotron-->
			{% for company in company_list %}
			<a href="{% url 'catalog:detail_company' company.id %}" class="list-group-item-sidebar-yogis" style="margin-top:10px ; height : auto; width:auto">
				<img class="img-rounded" src="{{ company.logo.get_thumbnail_url }}" alt="{{ company.logo.title }}" style ="height : auto; width:auto" >
			</a>
			<a href="{% url 'catalog:detail_company' company.id %}" class="list-group-item-sidebar-yogis" style="margin-top:10px ; height : auto; width:auto">{{ company.name }}</a>
			{% endfor %}
		</div><!--END SIDEBAR-->
        <div class="col-spectacle-yogis">
        	<div class="jumbotron-yogis">
        		<h1>Les spectacles</h1> 
        	</div>  <!-- jumbotron-->
  			<ul  class="list-inline" class="thumbnails-yogis"> 
				{% for company in company_list %}
					{% for scene in company.scene_set.all %}
						<li class="col-md-5" style="width : 33%">
						
						<div class="thumbnail-yogis"> 
							<div>
							{% if scene.photo_gallery.photos.all %}
								{% with scene.photo_gallery.photos.all|random as photo %}					 
							 	<a href="{%  url 'catalog:detail_scene' scene.id %}" class="list-group-item-yogis" style="height:200px"><img class="img-circle" src="{{ photo.get_thumbnail_url }}" style="height : auto; width:auto" class="thumbnail-yogis" alt="{{ company.logo.title }}">
							 	{% endwith %}
							 {% else %}
							 	<a href="{%  url 'catalog:detail_scene' scene.id %}" class="list-group-item-yogis" style="height:200px"><img class="img-circle" src="{{ compagny.logo.get_thumbnail_url }}"  style="height : auto; width:auto" class="thumbnail-yogis" alt="{{ company.logo.title }}">
							 {% endif %}
							 <h5>{{ scene.title }}</h5>
								</a>
							</div>
							{% endfor %}	
							{% empty %}
							<p>Désolé, aucune compagnie n'est disponible</p>
							{% endfor %}
						</div><!-- thumbnail -->
		</div><!-- col-SPECTACLE-->
		
	</div><!--/row-->
{% endblock content %}


